:root {
  --clr-1: #F4FCFB;
  --clr-2: #050E12;;
  --ff-heading: 'Crete Round', serif;
  --ff-body: 'Exo', sans-serif;
}

html {
  background: linear-gradient(to bottom, var(--clr-1), rgba(#F3FFFF, 0.63));
}

body {
  min-height: 100vh;
  // font-family: var(--ff-body);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}