@import '../../assets/scss/abstracts/mixins';

.tabs {
    position: relative;

    &__nav {
        display: flex;
        margin-bottom: 1.5rem;

        @include respond-to(xs) {
            margin-bottom: 1.75rem;
        }
    }

    &__nav-item {
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 1rem;
        }

        &--active {
            color: var(--clr-1);
        }
    }

    &__content {
        display: flex;
    }

    &__content-item {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, calc(50% - 0.5rem));

        @include respond-to(xs) {
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        }

        @include respond-to(md) {
            grid-template-columns: repeat(auto-fit, minmax(10rem, 12.625rem));
        }
    }
}
