:root {
    --clr-1: #e5b769;
    --clr-2: #3d405b;
    --ff-head: 'Proza Libre', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
    --vpw: 100vw;
    --vph: 100vh;
    --vpd: 0;
    --vpdr: 0;
}

html {
    background: #fff;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    color: var(--clr-2);
    font-family: var(--ff-body);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
