@import '../../assets/scss/abstracts/mixins';

.card {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1rem;
    max-height: 458px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #0d0d0d;
    text-decoration: none;

    &:nth-child(1) {
        background-color: #f1feff;
    }

    &:nth-child(2) {
        background-color: #983c5e;
    }

    &:nth-child(3) {
        background-color: #00beff;
    }

    &:nth-child(4) {
        background-color: #ffedc2;
    }
    
    @include respond-to(md) {
        max-height: 650px;
        padding: 2rem;
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s linear;
        pointer-events: none;

        object-fit: cover;
    }

    &__brand {
        position: relative;
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 1.45rem;
        font-family: var(--ff-head);
    }

    &__text {
        position: relative;
        font-weight: 100;
    }

    // &:hover &__img {
    //     transform: scale(1.1);
    // }
}
