@import '../../assets/scss/abstracts/mixins';

.contact {
    margin: 0 calc(-50vw + 50%);
    padding: 3.5rem 0;
    width: 100vw;
    background-color: #f0f0f1;

    @include respond-to(xs) {
        padding: 4.5rem 0;
    }

    @include respond-to(md) {
        padding: 5.25rem 0;
    }

    @include respond-to(lg) {
        padding: 6rem 0;
    }

    p {
        margin-bottom: 3rem;

        a {
            color: var(--clr-1);
            text-decoration: none;
            font-weight: 600;
        }
    }

    &__container {
        margin-right: auto;
        margin-left: auto;
        padding: 0 1rem;

        @include respond-to(xs) {
            max-width: 560px;
        }
        @include respond-to(sm) {
            max-width: 760px;
        }
        @include respond-to(md) {
            max-width: 980px;
        }
        @include respond-to(lg) {
            max-width: 1170px;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        list-style: none;

        li {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            a {
                display: inline-flex;
                text-decoration: none;
                transition: all 0.3s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
