@import '../../assets/scss/abstracts/mixins';

.contact {
    margin: 0 calc(-50vw + 50%);
    padding: 3.5rem 0;
    width: 100vw;
    background-color: #f0f0f1;

    @include respond-to(xs) {
        padding: 4.5rem 0;
    }

    @include respond-to(md) {
        padding: 5.25rem 0;
    }

    @include respond-to(lg) {
        padding: 6rem 0;
    }

    &__container {
        margin-right: auto;
        margin-left: auto;
        padding: 0 1rem;

        @include respond-to(xs) {
            max-width: 560px;
        }
        @include respond-to(sm) {
            max-width: 760px;
        }
        @include respond-to(md) {
            max-width: 980px;
        }
        @include respond-to(lg) {
            max-width: 1170px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        @include respond-to(sm) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__text {
        font-weight: 300;
        margin-bottom: 3rem;

        @include respond-to(sm) {
            width: 50%;
            margin-bottom: 0;
        }
        @include respond-to(md) {
            letter-spacing: -0.25px;
            font-size: 1.15rem;
        }
        @include respond-to(lg) {
            font-size: 1.235rem;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        list-style: none;

        li {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            a {
                display: inline-flex;
                text-decoration: none;

                svg path {
                    transition: all 0.3s ease;
                }

                &:hover svg path, &:focus svg path {
                    fill: var(--clr-1)
                }
            }
        }

        @include respond-to(sm) {
            width: 50%;
        }
    }
}
