@import '../../assets/scss/abstracts/mixins.scss';

.header {
    padding: 0 1rem;
    padding-top: 12vmin;

    @include respond-to(xs) {
        max-width: 560px;
        margin-right: auto;
        margin-left: auto;
    }
    @include respond-to(sm) {
        display: flex;
        align-items: center;
        padding: 1rem;
        max-width: 760px;
    }
    @include respond-to(md) {
        max-width: 980px;
    }
    @include respond-to(lg) {
        max-width: 1170px;
    }

    &__title {
        margin-bottom: 0.5rem;
        font-family: var(--ff-head);

        h1 {
            font-weight: 600;
            font-size: 8vmin;

            @include respond-to(xs) {
                font-size: 2.25rem;
            }
        }
    }

    &__text {
        font-weight: 300;
    }

    &__img {
        padding-left: 10vmin;
    }
}
