@import '../../assets/scss/abstracts/mixins';

.footer {
    background-color: var(--clr-2);

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        padding: 1rem 1.5rem;

        @include respond-to(xs) {
            max-width: 560px;
        }
        @include respond-to(sm) {
            padding: 1.5rem 1rem;
            max-width: 760px;
        }
        @include respond-to(md) {
            max-width: 980px;
        }
        @include respond-to(lg) {
            max-width: 1170px;
        }
    }

    &__logo {
        display: inline-flex;
        margin-right: 1rem;
        pointer-events: none;

        @include respond-to(xs) {
            margin-right: 1.75rem;
        }
        @include respond-to(md) {
            margin-right: 2.5rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__text {
        color: #fff;
        font-size: 0.8125rem;

        @include respond-to(xs) {
            max-width: 45vw;
        }
        @include respond-to(sm) {
            max-width: 100%;
            font-size: 0.875rem;
        }
        @include respond-to(md) {
            font-size: 1rem;
        }
    }
}
