.wrapper {
    min-height: 100vh;
    width: 100vw;

    &__content {
        margin-right: auto;
        margin-left: auto;
        padding: 0 1rem;

        @include respond-to(xs) {
            max-width: 560px;
        }
        @include respond-to(sm) {
            max-width: 760px;
        }
        @include respond-to(md) {
            max-width: 980px;
        }
        @include respond-to(lg) {
            max-width: 1170px;
        }
    }
}
