@import '../../assets/scss/abstracts/mixins';

.work {
    margin-bottom: 2rem;

    .font-wght-300 {
        @include respond-to(md) {
            letter-spacing: -0.25px;
            font-size: 1.15rem;
        }
        @include respond-to(lg) {
            font-size: 1.235rem;
        }
    }

    &__items {
        display: grid;
        margin-top: 2.75rem;

        grid-template-columns: 1fr;
        gap: 2rem;

        @include respond-to(sm) {
            margin-top: 3.15rem;
            grid-template-columns: repeat(auto-fit, minmax(calc(50% - 2rem), 1fr));
        }
        @include respond-to(lg) {
            margin-top: 4rem;
        }
    }
}
