@import '../../assets/scss/abstracts/mixins.scss';

.work {
  margin-bottom: 2rem;

  &__items {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

    @include respond-to(sm) {
        grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    }
  }
}
